**/__pycache__/
Project/test.py
Project/__pycache__
Project/Report/Report.aux
Project/Report/Report.fdb_latexmk
Project/Report/Report.fls
Project/Report/Report.log
Project/Report/Report.out
Project/Report/Report.pdf
Project/Report/Report.synctex.gz
Project/Report/Report.toc
out
gurobi.log

*.zip